






{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %} Autotrader - {% trans "Search results" %}{% endblock %}

{% block content %}

<style>
    a.active {
        color: var(--primary_red) !important;
        background-color: white;

    }

    .datepicker table {
      background-color: #ff0000; /* Red background */
    }
</style>

<style>
  .timeline-item {
    /*border-bottom: 1px solid #e0e0e0; !* light gray line *!*/
    padding: 12px 0;
  }
  .timeline-date {
    color: #b0b0b0;
    font-weight: 500;
    font-size: 0.95rem;
  }
  .timeline-text {
    text-decoration: underline;
    color: #000;
    font-size: 0.95rem;
  }
  .information-breadcrumb-wrapper{
    padding: 20px 0;
      background-color: rgba(255, 234, 235, 0.5);
    .breadcrumb{
      margin: 0 !important;
    }
    .title{
      font-size: 36px;
      font-weight: 500;
      padding-bottom: 8px;
      margin: 0 !important;
      text-align: left;
    }
  }
</style>

<section class="information-breadcrumb-wrapper">
    <div class="container">
        <nav aria-label="breadcrumb">
            <h5 class="title text-primary-color">Information</h5>
            <ol class="breadcrumb">
                <li class="breadcrumb-item font-medium"><a href="/">Home</a></li>
                <li class="breadcrumb-item active font-medium" aria-current="page">Information</li>
            </ol>
        </nav>
    </div>
</section>
<section>
    <div class="container pt-4" style="min-height: 60vh;">

      <div class="row mt-3">
        <div class="col-12">
          
          {% for inf in information_data %}
          <!-- Timeline Start -->
          <div class="timeline-item d-flex align-items-center">
            <span class="timeline-date me-2"> {{inf.updated_at}} -</span>
            <a href="/information-view/{{inf.id}}" ><span class="timeline-text"> {{ inf.title}}</span></a>
          </div>
          {% endfor %}

        </div>
      </div>


    </div>
</section>







{% endblock %}