






{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %} Autotrader - {% trans "Search results" %}{% endblock %}

{% block content %}

<style>
    a.active {
        color: var(--primary_red) !important;
        background-color: white;

    }

    .datepicker table {
      background-color: #ff0000; /* Red background */
    }
</style>

<style>
  .timeline-item {
    border-bottom: 1px solid #e0e0e0; /* light gray line */
    padding: 12px 0;
  }
  .timeline-date {
    color: #b0b0b0;
    font-weight: 500;
    font-size: 0.95rem;
  }
  .timeline-text {
    text-decoration: underline;
    color: #000;
    font-size: 0.95rem;
  }
</style>

<section>
    <div class="container pt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Information</li>
            </ol>
        </nav>
    </div>
</section>
<section>
    <div class="container mt-4" style="min-height: 60vh;">

      <div class="row mt-3">
        <div class="col-12">
          
          {% for inf in information_data %}
          <!-- Timeline Start -->
          <div class="timeline-item d-flex align-items-center">
            <span class="timeline-date me-2"> {{inf.updated_at}} -</span>
            <span class="timeline-text"> {{ inf.title}}</span>
          </div>
          {% endfor %}
          <div class="timeline-item d-flex align-items-center">
            <span class="timeline-date me-2">22/04/2024 -</span>
            <span class="timeline-text">We aim to continually innovate and integrate</span>
          </div>
    
          <div class="timeline-item d-flex align-items-center">
            <span class="timeline-date me-2">22/04/2024 -</span>
            <span class="timeline-text">We aim to continually innovate and integrate</span>
          </div>

          <div class="timeline-item d-flex align-items-center">
            <span class="timeline-date me-2">22/04/2024 -</span>
            <span class="timeline-text">We aim to continually innovate and integrate</span>
          </div>


          <div class="timeline-item d-flex align-items-center">
            <span class="timeline-date me-2">22/04/2024 -</span>
            <span class="timeline-text">We aim to continually innovate and integrate</span>
          </div>


          <div class="timeline-item d-flex align-items-center">
            <span class="timeline-date me-2">22/04/2024 -</span>
            <span class="timeline-text">We aim to continually innovate and integrate</span>
          </div>


          <div class="timeline-item d-flex align-items-center">
            <span class="timeline-date me-2">22/04/2024 -</span>
            <span class="timeline-text">We aim to continually innovate and integrate</span>
          </div>


          <div class="timeline-item d-flex align-items-center">
            <span class="timeline-date me-2">22/04/2024 -</span>
            <span class="timeline-text">We aim to continually innovate and integrate</span>
          </div>


          <div class="timeline-item d-flex align-items-center">
            <span class="timeline-date me-2">22/04/2024 -</span>
            <span class="timeline-text">We aim to continually innovate and integrate</span>
          </div>

          
          <div class="timeline-item d-flex align-items-center">
            <span class="timeline-date me-2">22/04/2024 -</span>
            <span class="timeline-text">We aim to continually innovate and integrate</span>
          </div>
    
          <!-- Add more items as needed -->
    
        </div>
      </div>


    </div>
</section>







{% endblock %}