{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %} Autotrader - {% trans "Car Details" %}{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static '/owlcarousel/dist/assets/owl.carousel.min.css' %}">
<link rel="stylesheet" href='{% static "/owlcarousel/dist/assets/owl.theme.default.min.css" %}'>
<script src="{% static '/owlcarousel/dist/owl.carousel.min.js' %}"></script>

<section>
    <div class="container pt-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Car Details</li>
            </ol>
        </nav>
        <div>
            <h4 class="text-start hero-sub-text">{{car.year}} {{car.make.name}} {{car.model.name}}</h4>
            <p class="text-start fs-6">Lot <strong># 46296444</strong> | Sale Location:<span class="text-danger"> OH -
                    DAYTON </span> OH - DAYTON | Sale Date: <strong>March 22, 2024, 2 p.m.</strong></p>
        </div>
    </div>
</section>
<section>
    <div class="container">

        <div class="row">
            <!-- car carousel -->
            <div class="col-md-8 col-sm-12 mt-4 mb-3 p-3">
                {% include 'partials/components/car-carousel.html' with media=car.all_media  %}



                <div class="container mt-2">
                    <div class="card shadow">
                        <div class="card-header bg-light border-bottom text-center ">

                            <h5 class="mb-0 text-start"><i class="bi bi-calculator-fill text-danger m-2"></i>Description
                            </h5>
                        </div>
                        <div class="card-body">
                            <div class="text-start">

                                <span class="fw-bold"> Feature List</span>
                                {{car.feature_list}}

                                <span class="fw-bold"> Label list</span>
                                {{car.label_list}}

                                <span class="fw-bold"> Documents</span>
                                {{car.documents}}
                            </div>



                        </div>
                        <!-- <div class="card-footer bg-light">
                    
                  </div> -->
                    </div>
                </div>

            </div>

            <!-- car details card  -->
            <div class="col-md-4 col-sm-12 mb-2">
                <div class="container mt-5">
                    <div class="card custom-card">
                        <div class="card-header text-start">
                            <i class="bi bi-card-text text-danger pe-2"></i>
                            Sales Details
                        </div>
                        <div class="text-start m-3">

                            <div class="row">
                                <div class="col">
                                    <div class="text-muted text-decoration-line-through">
                                        <small>40,768 $</small>
                                    </div>
                                    <h3 class="fw-bold mb-0"> {{car.currency}}{{car.price}} <span class="text-muted fs-6 mb-3"></span></h3>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-end justify-content-end mb-3 text-end">
                                        <span class="me-2">Country</span>
                                        <img src="https://upload.wikimedia.org/wikipedia/en/b/ba/Flag_of_Germany.svg"
                                            alt="Germany Flag" style="width: 25px; height: auto;" class="me-1" />
                                        <strong>Germany</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex gap-2 mb-3">
                                <a href="https://wa.me/994505553485" class="btn btn-success flex-fill" target="_blank">
                                    Write to us
                                </a>
                                <a href="tel:+994505553485" class="btn btn-outline-secondary flex-fill">
                                    <i class="bi bi-telephone"></i> +994 (50) 555 34 85
                                </a>
                            </div>

                            <a href="#" class="btn btn-danger w-100">Order now</a>
                        </div>
                        <!-- <div class="custom-card-body">
                        <div class="row py-2 px-4">
                            <div class="col-6 border-bottom text-start">VIN:</div>
                            <div class="col-6 border-bottom text-end fw-bolder">JN1BV7AR2EM686867</div>
                        </div> 
                        <div class="row py-2 px-4">
                            <div class="col-6  border-bottom text-start">Odometer:</div>
                            <div class="col-6  border-bottom text-end fw-bolder">142417</div>
                        </div>
                        <div class="row py-2 px-4">
                            <div class="col-6  border-bottom text-start">Title Code:</div>
                            <div class="col-6  border-bottom text-end fw-bolder">none</div>
                        </div>
                        <div class="row py-2 px-4">
                            <div class="col-6  border-bottom text-start">Primary Damage:</div>
                            <div class="col-6  border-bottom text-end fw-bolder">MECHANICAL</div>
                        </div>
                        <div class="row py-2 px-4">
                            <div class="col-6  border-bottom text-start">Secondary Damage:</div>
                            <div class="col-6  border-bottom text-end fw-bolder">None</div>
                        </div>
                        <div class="row py-2 px-4">
                            <div class="col-6  border-bottom text-start">Body Style:</div>
                            <div class="col-6  border-bottom text-end fw-bolder">SEDAN 4D</div>
                        </div>
                        <div class="row py-2 px-4">
                            <div class="col-6  border-bottom text-start">Color:</div>
                            <div class="col-6  border-bottom text-end fw-bolder">GRAY</div>
                        </div>
                        <div class="row py-2 px-4">
                            <div class="col-6  border-bottom text-start">Engine:</div>
                            <div class="col-6  border-bottom text-end fw-bolder">3.7L 6</div>
                        </div>
                        <div class="row py-2 px-4">
                            <div class="col-6  border-bottom text-start">Cylinders:</div>
                            <div class="col-6  border-bottom text-end fw-bolder">6</div>
                        </div>
                        <div class="row py-2 px-4">
                            <div class="col-6  border-bottom text-start">Transmission:</div>
                            <div class="col-6  border-bottom text-end fw-bolder">AUTOMATIC</div>
                        </div>
                        <div class="row py-2 px-4">
                            <div class="col-6  border-bottom text-start">Drive:</div>
                            <div class="col-6  border-bottom text-end fw-bolder">All wheel drive</div>
                        </div>
                        <div class="row py-2 px-4">
                            <div class="col-6  border-bottom text-start">Fuel:</div>
                            <div class="col-6  border-bottom text-end fw-bolder">GAS</div>
                        </div>
                        <div class="row py-2 px-4">
                            <div class="col-6  border-bottom text-start">Keys:</div>
                            <div class="col-6  border-bottom text-end fw-bolder">yes</div>
                        </div>
                        <div class="row py-2 px-4">
                            <div class="col-6  border-bottom text-start">Highlights:</div>
                            <div class="col-6  border-bottom text-end fw-bolder">N/A</div>
                        </div>
                    </div> -->
                    </div>
                </div>

                <div class="container mt-5">
                    <div class="card custom-card">
                        <div class="card-header text-start">
                            <i class="bi bi-card-text text-danger pe-2"></i>
                            Overview
                        </div>

                        <div class="custom-card-body">
                            <div class="row py-2 px-4">
                                <div class="col-6 border-bottom text-start">VIN:</div>
                                <div class="col-6 border-bottom text-end fw-bolder">{{car.VIN}}</div>
                            </div>
                            <div class="row py-2 px-4">
                                <div class="col-6  border-bottom text-start">Odometer:</div>
                                <div class="col-6  border-bottom text-end fw-bolder">{{car.odometer}}</div>
                            </div>
                            <div class="row py-2 px-4">
                                <div class="col-6  border-bottom text-start">Title Code:</div>
                                <div class="col-6  border-bottom text-end fw-bolder">none</div>
                            </div>
                            <div class="row py-2 px-4">
                                <div class="col-6  border-bottom text-start">Primary Damage:</div>
                                <div class="col-6  border-bottom text-end fw-bolder">None</div>
                            </div>
                            <div class="row py-2 px-4">
                                <div class="col-6  border-bottom text-start">Secondary Damage:</div>
                                <div class="col-6  border-bottom text-end fw-bolder">None</div>
                            </div>
                            <div class="row py-2 px-4">
                                <div class="col-6  border-bottom text-start">Body Style:</div>
                                <div class="col-6  border-bottom text-end fw-bolder">{{car.body_style.name_en}}</div>
                            </div>
                            <div class="row py-2 px-4">
                                <div class="col-6  border-bottom text-start">Color:</div>
                                <div class="col-6  border-bottom text-end fw-bolder">{{car.color.name_en}}</div>
                            </div>
                            <div class="row py-2 px-4">
                                <div class="col-6  border-bottom text-start">Engine:</div>
                                <div class="col-6  border-bottom text-end fw-bolder"> {{car.engine_power}}{{car.engine_power_unit}} </div>
                            </div>
                            <div class="row py-2 px-4">
                                <div class="col-6  border-bottom text-start">Number of seats:</div>
                                <div class="col-6  border-bottom text-end fw-bolder">{{car.number_of_seats}}</div>
                            </div>
                            <div class="row py-2 px-4">
                                <div class="col-6  border-bottom text-start">Transmission:</div>
                                <div class="col-6  border-bottom text-end fw-bolder">{{car.transmission.name_en}}</div>
                            </div>
                            <div class="row py-2 px-4">
                                <div class="col-6  border-bottom text-start">Drive:</div>
                                <div class="col-6  border-bottom text-end fw-bolder">{{ car.drive.name_en }}</div>
                            </div>
                            <div class="row py-2 px-4">
                                <div class="col-6  border-bottom text-start">Fuel:</div>
                                <div class="col-6  border-bottom text-end fw-bolder">{{car.fuel.name_en}}</div>
                            </div>
                            <div class="row py-2 px-4">
                                <div class="col-6  border-bottom text-start">Keys:</div>
                                <div class="col-6  border-bottom text-end fw-bolder">yes</div>
                            </div>
                            <div class="row py-2 px-4">
                                <div class="col-6  border-bottom text-start">Highlights:</div>
                                <div class="col-6  border-bottom text-end fw-bolder">N/A</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>

        <div class="row">



        </div>

    </div>
</section>


<section class="container mt-5">
    <div class="red-line"></div>

    <h2 class="text-start text-heading mb-4"> Similar <span class="text-danger">Vehicles</span></h2>
    <p class="text-start">Browse vehicles in Azerbaijan, ready for you to drive home today.</p>
    <div class="row g-0 py-5 d-none d-md-flex">

        {% for vehicle in vehicles_in_az %}
        {% include 'partials/components/car-card.html' with vehicle=vehicle %}
        {% endfor %}     

    </div>


    <div class="row g-0 py-5 d-block d-md-none">
      <div id="cardCarousel" class="carousel slide d-block d-md-none" data-bs-ride="carousel">
        {% for vehicle in vehicles_in_az %}
          <div class="carousel-item {{ forloop.first|yesno:'active,' }}">
            {% include 'partials/components/car-card.html' with vehicle=vehicle %}
            </div>
          {% endfor %}   
      </div>
    </div>
    <button class="btn btn-danger py-2 px-2" style="min-width: 300px;"> View Inventory</button>

    <hr>

  </section>
{% endblock %}