
{% load static %}


  <!-- Demo styles -->
  <style>
    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    body {
      background: #000;
      color: #000;
    }

    .swiper {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .mySwiper2 {
      height: 80%;
      width: 100%;
    }

    .mySwiper {
      height: 20%;
      box-sizing: border-box;
      padding: 10px 0;
    }

    .mySwiper .swiper-slide {
      width: 25% !important;
      height: 100%;
      opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active {
      opacity: 1;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>

  <!-- Swiper -->

  <div class="carousel">
  <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{% static '/images/assets/car-card-assets/car-pic-1.jpeg' %}" class="rounded-4 p-2" alt="1">
      </div>
      <div class="swiper-slide">
        <img src="{% static '/images/assets/car-card-assets/car-pic-2.jpeg' %}" class="rounded-4 p-2" alt="2">
      </div>
      <div class="swiper-slide">
        <img src="{% static '/images/assets/car-card-assets/car-pic-3.jpeg' %}" class="rounded-4 p-2"  alt="3">
      </div>
      <div class="swiper-slide">
        <img src="{% static '/images/assets/car-card-assets/car-pic-1.jpeg' %}" class="rounded-4 p-2" alt="1">
      </div>

    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div thumbsSlider="" class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="{% static '/images/assets/car-card-assets/car-pic-1.jpeg' %}" class="rounded-4 p-2" alt="1">
      </div>
      <div class="swiper-slide">
        <img src="{% static '/images/assets/car-card-assets/car-pic-2.jpeg' %}" class="rounded-4 p-2" alt="2">
      </div>
      <div class="swiper-slide">
        <img src="{% static '/images/assets/car-card-assets/car-pic-3.jpeg' %}" class="rounded-4 p-2"  alt="3">
      </div>
      <div class="swiper-slide">
        <img src="{% static '/images/assets/car-card-assets/car-pic-1.jpeg' %}" class="rounded-4 p-2" alt="1">
      </div>

    </div>
  </div>
</div>
  <!-- Swiper JS -->

  <!-- Initialize Swiper -->
  <script>
    var swiper_thumb = new Swiper(".mySwiper", {
      loop: true,
      spaceBetween: 10,
      slidesPerView: 4,
      freeMode: true,
      watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
      loop: true,
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      thumbs: {
        swiper: swiper_thumb,
      },
    });
  </script>

<!-- 

<div class="swiper-slide">
  <img src="{% static '/images/assets/car-card-assets/car-pic-1.jpeg' %}" class="rounded-4 p-2" alt="1">
</div>
<div class="swiper-slide">
  <img src="{% static '/images/assets/car-card-assets/car-pic-2.jpeg' %}" class="rounded-4 p-2" alt="2">
</div>
<div class="swiper-slide">
  <img src="{% static '/images/assets/car-card-assets/car-pic-3.jpeg' %}" class="rounded-4 p-2"  alt="3">
</div>
<div class="swiper-slide">
  <img src="{% static '/images/assets/car-card-assets/car-pic-1.jpeg' %}" class="rounded-4 p-2" alt="1">
</div>
<div class="swiper-slide">
  <img src="{% static '/images/assets/car-card-assets/car-pic-2.jpeg' %}" class="rounded-4 p-2" alt="2">
</div>
<div class="swiper-slide">
  <img src="{% static '/images/assets/car-card-assets/car-pic-3.jpeg' %}" class="rounded-4 p-2"  alt="3">
</div>
 -->