
{% load static %}
<!-- <img src="{% static '/images/assets/car-card-assets/car-pic-1.jpeg' %}" class="rounded-4 p-2" alt="1"> -->
    <style>
        .thumb-gallery img {
          /* max-width: 150px;
          max-height: 70px; */
          object-fit: contain;
          cursor: pointer;
          border: 2px solid transparent;
          overflow: hidden;
        }
    
        .thumb-gallery img.active {
          border-color: red;
        }
    
        .main-image img {
          width: 100%;
          max-height: 500px;
          object-fit: cover;
        }

        .pagination-dots {
      display: flex;
      justify-content: center;
      gap: 8px;
    }

    .pagination-dots span {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #ddd;
      cursor: pointer;
    }

    .pagination-dots span.active {
      background-color:red;
    }

    .navbtn{
      border-radius: 50%;
      height: 40px;
      width: 40px;
    }

    @media (max-width: 767px) {
      .main-image{
        background-color: #2B3339;
      }
      #main-image{
        max-height: 280px;
        object-fit: contain;
      }
    }
      </style>
  <div class="">
    <div class="main-image text-center position-relative">
      <span class="badge rounded-pill d-inline-flex align-items-center bg-primary position-absolute" style="top: 20px;right: 20px;border-radius: 5px !important;min-height: 32px;height: 32px;display: flex;justify-content: center;align-items: center;padding: 0 20px;">
        {{ car.status.name_en }}
      </span>
      <div class="d-flex align-items-center position-absolute" style="gap:5px;top: 20px;left: 20px;">
        {% for label in label_list %}

        <span class="badge rounded-pill d-inline-flex align-items-center" style="background-color: {{label.color_hex}}; color: white; padding: 0.5em 0.75em; font-size: 0.9em; margin: 0.2em;border-radius: 5px;min-height: 32px;height: 32px;display: flex;justify-content: center;align-items: center;">
        <i class="{{label.font_awesome_icon}} mx-1"></i>{{ label.name_en }}
      </span>
        {% endfor %}
      </div>
      <img src="{{ media.0.img_url_from_api}}"  id="main-image" alt="Main Image" class="rounded-md-4">
      <div class="position-absolute  d-flex d-md-none gap-2.5 justify-content-between align-items-center" style="margin:0 auto;left: 50%; transform: translateX(-50%);bottom: 14px;min-width: 90% !important;">
        <button class="bg-primary-color text-white" style="padding: 8px;padding-top:0 !important;border-radius: 5px;border: none;color: white;font-size: 30px;" onclick="prevImage()">&#8249;</button>
        <button class="bg-primary-color text-white" style="padding: 8px;padding-top:0 !important;border-radius: 5px;border: none;color: white;font-size: 30px;" onclick="nextImage()">&#8250;</button>
      </div>
    </div>
    
    <div class="thumb-gallery d-none d-md-flex justify-content-center gap-2 mt-3">
     
      {% for m in media %}
        {% if m.image %}
          <img src="{{m.image}}" class="{% if forloop.first %}active{% endif %}"
          alt="Thumbnail {{ forloop.counter }}" style="border-radius: 5px;object-fit:cover;max-width: 80px;min-width: 80px; max-height: 70px;min-height: 70px;"  onclick="changeImage(this, `{{m.image}}`)">
        {% else %}
          <img src="{{m.img_url_from_api}}" class="{% if forloop.first %}active{% endif %}"
          alt="Thumbnail {{ forloop.counter }}" style="border-radius: 5px;object-fit:cover;max-width: 80px;min-width: 80px; max-height: 70px;min-height: 70px;"  onclick="changeImage(this, `{{m.img_url_from_api}}`)">
        {% endif %}
      {% endfor %}
      <!-- <img src="{% static '/images/assets/car-card-assets/car-pic-1.jpeg' %}" class="rounded-4 me-2 active" alt="Thumbnail 1" onclick="changeImage(this, `{% static '/images/assets/car-card-assets/car-pic-1.jpeg' %}`)">
      <img src="{% static '/images/assets/car-card-assets/car-pic-2.jpeg' %}" class="rounded-4 me-2" alt="Thumbnail 2" onclick="changeImage(this, `{% static '/images/assets/car-card-assets/car-pic-2.jpeg' %}`)">
      <img src="{% static '/images/assets/car-card-assets/car-pic-3.jpeg' %}" class="rounded-4 me-2" alt="Thumbnail 3" onclick="changeImage(this, `{% static '/images/assets/car-card-assets/car-pic-3.jpeg' %}`)">
      <img src="{% static '/images/assets/car-card-assets/car-pic-1.jpeg' %}" class="rounded-4 me-2" alt="Thumbnail 1" onclick="changeImage(this, `{% static '/images/assets/car-card-assets/car-pic-1.jpeg' %}`)">
      <img src="{% static '/images/assets/car-card-assets/car-pic-2.jpeg' %}" class="rounded-4 me-2" alt="Thumbnail 2" onclick="changeImage(this, `{% static '/images/assets/car-card-assets/car-pic-2.jpeg' %}`)">
      <img src="{% static '/images/assets/car-card-assets/car-pic-3.jpeg' %}" class="rounded-4 me-2" alt="Thumbnail 3" onclick="changeImage(this, `{% static '/images/assets/car-card-assets/car-pic-3.jpeg' %}`)">
      <img src="{% static '/images/assets/car-card-assets/car-pic-1.jpeg' %}" class="rounded-4 me-2" alt="Thumbnail 1" onclick="changeImage(this, `{% static '/images/assets/car-card-assets/car-pic-1.jpeg' %}`)">
      <img src="{% static '/images/assets/car-card-assets/car-pic-2.jpeg' %}" class="rounded-4 me-2" alt="Thumbnail 2" onclick="changeImage(this, `{% static '/images/assets/car-card-assets/car-pic-2.jpeg' %}`)"> -->
    </div>

    <div class="d-none d-md-flex justify-content-between mt-4">
      <button class="btn btn-outline text-primary-color d-flex justify-content-center align-items-center" style="border-color:#2B3339;border-radius: 9999px;width: 34px;height: 34px;" onclick="prevImage()">&#8249;</button>
      <div class="pagination-dots mt-3">
        <span class="active" onclick="goToImage(0)"></span>
        <span onclick="goToImage(1)"></span>
        <span onclick="goToImage(2)"></span>
        <span onclick="goToImage(3)"></span>
        <span onclick="goToImage(4)"></span>
      </div>
      <button class="btn btn-outline text-primary-color d-flex justify-content-center align-items-center" style="border-color:#2B3339;border-radius: 9999px;width: 34px;height: 34px;" onclick="nextImage()">&#8250;</button>
    </div>
  </div>
  <script>
    let thumbnails = document.querySelectorAll('.thumb-gallery img');
    let paginationDots = document.querySelectorAll('.pagination-dots span');
    let mainImage = document.getElementById('main-image');
    let currentIndex = 0;

 

    function changeImage(element, src) {
      thumbnails.forEach(thumb => thumb.classList.remove('active'));
      element.classList.add('active');
      mainImage.src = src;
      currentIndex = [...thumbnails].indexOf(element);
    }

    function prevImage() {
      currentIndex = (currentIndex > 0) ? currentIndex - 1 : thumbnails.length - 1;
      let selectedThumb = thumbnails[currentIndex];
      changeImage(selectedThumb, selectedThumb.src);
    }

    function nextImage() {
      currentIndex = (currentIndex < thumbnails.length - 1) ? currentIndex + 1 : 0;
      let selectedThumb = thumbnails[currentIndex];
      changeImage(selectedThumb, selectedThumb.src);
    }
  </script>