/* Header-first-topnav */

/* style.css */
/* Define the font-face for Euclid Circular A */
/* @font-face {
    font-family: 'Euclid Circular A';
    src: url("https://fonts.cdnfonts.com/css/euclid-circular-a");
    font-weight: 500;
    font-style: normal;
} */

:root {
  --primary_red: #C91F3B;
  --primary-blue: #0099FF;
  --text_color: #666666;
  --secondary_color_1: #FFFFFF;
  --secondary_color_2: #F8F9FD;
  --success_color: #22CA46;
  --error_color: #FAE9EB66;
  --primary_black_color: #2B3339;
  --primary__light_red_color: #FAE9EB;
}

/* styles.css */
@font-face {
  font-family: 'Euclid Circular A';
  src: url('./assets/fonts/EuclidCircularA-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('./assets/fonts/EuclidCircularA-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular A';
  src: url('./assets/fonts/EuclidCircularA-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}



.hero-section{
    /* background-color: var(--primary-color-red); */
    background-image: url("/static/images/assets/Frame%2020682.png") ;
    color: white;
    background-size: cover;
    background-position: center;
    height: 70vh;

}

.hero-vector-left{
    /* position: fixed; */
    /* /* width: 50%; */
    height: 100%; 
    left: -10%;
    top: 0%;
    }
@media (max-width: 576px) {
    .hero-vector-left {
        width: 100%; /* Further adjust width */
        height: 100%; /* Further adjust width */
        left: -40%;  /* Adjust left positioning */
        top: -5%;   /* Adjust top positioning */
    }
}

.hero-vector-right{
    /* position: fixed; */
    width: 50%;
    height: 100%;
    right: -40%;
    top: -16%;
    }
@media (max-width: 576px) {
    .hero-vector-right {
        width: 50%; /* Further adjust width */
        height: 100%; /* Further adjust width */
        right: -15%;  /* Adjust left positioning */
        top: -5%;   /* Adjust top positioning */
    }
}

.hero-main-text{
    font-weight: 700;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.hero-sub-text{
    /* font-family: 'Euclid Circular A';
    font-size: 25px; */
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    }


body, header {
    font-family: 'Euclid Circular A', sans-serif;
    /* font-size: 16px;*/
    font-weight: 500;
    line-height: 23px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none; 
    
}

body{
  background-color: #F8F9FD;

}

.text-heading {

    font-weight: 700;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.topnav {
    /* position: absolute;
    width: 1440px;
    height: 60px;
    left: 0px;
    top: 0px; */
    background: #F8F9FD;
    /* font-family: 'Euclid Circular A (M)'; */
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

/* Navbar */


.navbar {
    /* box-sizing: border-box;
    position: absolute;
    width: 1440px;
    height: 80px;
    left: 0px;
    top: 60px; */
    background: #FFFFFF;
    border-bottom: 1px solid #F8F9FD;
}

/* Slider */

.slider {
    position: absolute;

}

.hero-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .hero-section p {
    font-size: 1.2rem;
  }

  .car-image {
    max-width: 100%;
    height: auto;
    z-index: 5;
  }
 
  .custom-seperator-line {
    border: 2px solid; /* Adjust thickness and color */
    border: 2px solid var(--primary-color-red); /* Adjust thickness and color */
    /* border-color: var(--primary-color-red); */
    width: 3%;            /* Adjust width */

}



  .navigation-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .navigation-btn:hover {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.2);

  }

  .navigation-btn-left {
    left: 10px;
  }

  .navigation-btn-right {
    right: 10px;
  }


  .vehicle-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .vehicle-card img {
    max-width: 100%;
    border-radius: 10px;
  }
  .vehicle-card .price {
    color: #e60000;
    font-weight: bold;
  }
  .vehicle-card .old-price {
    text-decoration: line-through;
    color: #888;
  }
  .vehicle-card .view-details {
    color: #007bff;
    text-decoration: none;
  }
  .vehicle-card .view-details:hover {
    text-decoration: underline;
  }


  .light-red-container {
    background-color: #FAE9EB;
    ;
  }
  .form-container {
    max-width: 500px;
    margin: 50px auto;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .btn-custom {
    background-color: #d82f2f;
    color: #fff;
    border: none;
  }
  .btn-custom:hover {
    background-color: #bf2929;
  }

body {
  background: #F9F9F9 !important;
  font-family: 'Euclid Circular A', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Euclid Circular A', sans-serif;
}

p {
  font-family: 'Euclid Circular A', sans-serif;
}

.breadcrumb-item>a {
  color: var(--primary_red) !important;
}

.active {
  color: var(--text_color) !important;
}

.quick-filters {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
  flex-wrap: wrap !important;
  background: var(--secondary_color_1);
}

.quick-filters .btn {
  font-family: 'Euclid Circular A', sans-serif;
  border-radius: 5px !important;
  border: 1px solid #8D94AD !important;
}

.filters-box {
  background: var(--secondary_color_1) !important;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.filter-tag {
  margin: 5px 5px 5px 0;
}

.results-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.results-table {
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.table th {
  background-color: var(--primary_black_color) !important;
  color: white;
}

.details-button {
  border-radius: 5px;
}

.results-table {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.table th {
  background-color: var(--primary_black_color) !important;
  color: white;
}

.table-bg {
  background: var(--secondary_color_1) !important;
  padding: 10px;
}

.details-button {
  border-radius: 5px;
}

.more-details {
  text-align: center;
  background-color: var(--primary__light_red_color);
  color: #721c24;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  /* font-weight: bold; */
}


.steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

.step-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: var(--prm-gray);
  transition: .4s;
}

.step-button[aria-expanded="true"] {
  width: 30px;
  height: 30px;
  background-color: var(--prm-color);
  color: #000000;
}

.done {
  background-color: var(--prm-color);
  color: #000000;
}

.step-item {
  z-index: 10;
  text-align: center;
}

#progress {

  position: absolute;
  width: 95%;
  z-index: 5;
  height: 10px;
  margin-left: 18px;
  margin-bottom: 18px;
}

/* to customize progress bar */
#progress::-webkit-progress-value {
  background-color: var(--prm-color);
  transition: .5s ease;
  color: #000000;
}

#progress::-webkit-progress-bar {
  background-color: var(--prm-gray);

}

.btn-primary{
 background-color: var(--primary-blue);
}
/* .text-muted {
  color: #666666 !important;
} */